* {
  box-sizing: border-box;
}

html, body, #root, .App {
  height: 100%;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
	background-size: cover;
  background-position: center;
}

.AppBtn {
  display: flex;
  cursor: pointer;
  width: 100%;
  background: #2196F3;
  color: #ffff;
  font-weight: 100;
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
  padding: 6px 16px;
  font-size: 0.875rem;
  min-width: 64px;
  line-height: 1.75;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  margin: auto;
  max-width: 250px;
  text-align: center;
  outline: none;
  border:none;
}

.modal {
  width: 100%;
  height: 100%;
  display: flex;
  background: #231f20bd;
}

.threeD {
  margin: auto;
  outline: none;
  cursor: pointer;
}

.threeD > canvas {
  border-radius: 3px;
  box-shadow: 0px 2px 9px 0px #00000094;
  border: solid 1px #404040;
}

h2 {
  text-transform: uppercase;
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
